.vscode/settings.json
.Rhistory
*.xlsx
BadEnvironment2/
CHELSA/
DFs/
Ensembles/
gifs/
Objects/
Objects1_9/
output/
Rasters/
results/
results1/
RObjects/
sim outputs/
wc2.1_5m/
WorldClim/
Manifest.toml
theoretical outputs/
.Rproj.user
Stability New.docx
Stability paper.docx
DirectSamplingResults.csv
*.csv
*.docx
outputs/
Europe/
Mediterranean/
NUTS/
*.tif
RCode/Theory.html
RCode/nppFoodWeb.pdf
RCode/nppFoodWeb.html
RCode/ExplorationOfnppModelSimulation.html
RCode/PredationTermJustification.html
Daily_JULIA_code/Resource_Model/Quarto/
RCode\ExploringTheSystem.pdf
Daily_JULIA_code/HerbivoresVsPredators/predator_prey_analysis_files/
Daily_JULIA_code/HerbivoresVsPredators/predator_prey_analysis.html
Rcode/*.html
Rcode/*.pdf
*.pptx
*.jls
*.png
*.toc
*.aux
